[submodule "hugo-notepadium"]
	path = hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "public"]
	path = public
	url = https://github.com/SophieXin9636/SophieXin9636.github.io.git
